<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I love collaborating!</h2>
                <hr class="light">
                <p class="text-faded">Finding the Fun in Future and the Tech in Technically Possible.</p>
                <a href="#" id="scrollBtn" class="btn btn-default btn-xl">Contact Me!</a>
            </div>
        </div>
    </div>
</section>
<div id="bottom"></div>
