<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <!-- Collectibles Project -->
      <div class="col-lg-4 col-sm-6">
        <a href="{{ '/project1/' | relative_url }}" class="portfolio-box">
          <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Data Analysis
              </div>
              <div class="project-name">
                Selling Collectibles: Collection Tracking and Analysis
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Accquainted App -->
      <div class="col-lg-4 col-sm-6">
        <a href="https://accquainted.com" target="_blank" class="portfolio-box">
          <img src="img/portfolio/accquainted.jpg" class="img-responsive" alt="Accquainted app">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Full-Stack App Development
              </div>
              <div class="project-name">
                Accquainted Social App
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Add more projects here -->
    </div>
  </div>
</section>
